body{
    background-image: url(../img/angrybird.jpg);
    background-size: cover;
    width: 80%;
    height: 80%;
    overflow-x: hidden;
    color: red;
    font-family: "Sofia", sans-serif;
}

.lives{
    
    width: 50px;
    height: 50px;
    margin-top: 10px;
  
}

#gameover{
     position: absolute;
    top:43%;
    color: red;
    left: 43%;
} 

#youwin{
     position: absolute;
    top:43%;
    left: 43%;
    color: red;
     text-align: center;
} 

#start{
     position: absolute;
    top:43%;
    left: 43%;
     text-align: center;
    color: red;
} 

#level{
    position: absolute;
    top:40%;
    text-align: center;
    left: 39%;
    color: red;
}

input[type=button]{
  background-color: red;
  border: none;
border-radius: 5px;
  color: white;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
}